GameJamProject/Assets/Santi/Minijuego 2/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
GameJamProject/Assets/Santi/Minijuego 2/Minijuego 2.unity
GameJamProject/Assets/Javi/Video1 Intro.renderTexture.meta
GameJamProject/Assets/Javi/Video1 Intro.renderTexture
GameJamProject/Assets/Javi/Scripts/Video.cs.meta
GameJamProject/Assets/Javi/Scripts/Video.cs
*.asset
*.unity
GameJamProject/Assets/Santi/Minijuego 2/Minijuego 2.unity
GameJamProject/Assets/Santi/Minijuego 2/TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset
